a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: $white;
}
.btn {
  box-shadow: none;
  border-radius: 0.1rem;
  font-family: $familyBold;
  text-transform: uppercase;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  &.med {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.btn-lg {
  font-size: 0.9375rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.btn-light {
  background: $white;
  border-color: $white;
  color: $default;

  &:hover,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    color: $default;
  }
}
.btn-danger {
  background: $default;
  border-color: $default;
  color: $white;
  &:hover,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: $default;
    border-color: $default;
    color: $white;
  }
}
.btn-outline-warning {
  border-width: 1px;
  color: $btn-nav;
  border-color: $btn-nav;
  &:hover,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background-color: $btn-nav;
    border-color: $btn-nav;
    color: $white;
  }
}
.btn-outline-danger {
  border-width: 1px;
  color: $default;
  border-color: rgba(0, 0, 0, 0.5);
  &:hover,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background-color: $default;
    border-color: $default;
    color: $white;
  }
}
.btn-outline-dark {
  border-width: 1px;
  color: rgba(0, 0, 0, 0.75);
  border-color: $default-light;
  &.focus,
  &:focus,
  &:hover,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background-color: $default;
    border-color: $default;
    color: $white;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }
}
.btn-alert {
  text-transform: capitalize;
  background-color: #c30712;
  color: $white;
  font-family: $familyMedium;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 0.875rem;
  &:hover,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background-color: $default;
    border-color: $default;
    color: $white;
  }
}
.btn-flat {
  background: $default;
  border-color: $default;
  color: $white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-family: $familyMedium;
  padding-top: 0.525rem;
  padding-bottom: 0.525rem;
  &:hover,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: $default;
    border-color: $default;
    color: $white;
  }
}
