.solutionRetailContent {
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 2.2em;
    line-height: 100%;
    text-align: center;
    color: rgba(20, 23, 30, 0.85);
  }

  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 2.2em;
    line-height: 100%;
    text-align: center;
    color: rgba(20, 23, 30, 0.85);
  }

  .title_and_description {
    h2 {
      font-family: Roboto-Bold;
      font-style: normal;
      font-size: 2.187rem;
      line-height: 38px;
      text-align: left;
      color: rgba(20, 23, 30, 0.85);
      margin-bottom: 1.5rem;
    }
  }
}
